snippet l
	local 
snippet r
	return 
snippet q
	require("${1}")${0}
snippet f
	function ${1}(${2})
		${0}
	end
snippet fi
	for ${1:i} = ${2:0}, ${3:10} do
		${0}
	end
snippet i
	if $1 then
		$0
	end
snippet w
	while ${1} do
		${0}
	end
snippet M
	local ${1:M} = {}

	${0}

	return ${1}
snippet C
	--[[
		`!lua vim.fn.expand('%:t')`

		$0
	]]
