extends lua

snippet e
	export 
snippet t
	type ${1} = ${2}
snippet fk
	for ${1:key}, ${2:value} in ${3:table} do
		$0
	end
snippet fv
	for ${1:value} in ${2:table} do
		$0
	end
snippet M
	type ${1:name}Module = {
		$2
	}

	local ${1:name}: ${1:name}Module = {
		$0
	}

	return ${1:name}
